<!-- ============================================================== -->
<!-- left sidebar -->
<!-- ============================================================== -->
<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link <% if(site_path === '/convert') { %> active <% } %>" href="/convert"><i class="fas fa-table"></i>CONVERT TOOL</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link <% if(site_path === '/mail') { %> active <% } %>" href="/mail"><i class="fas fa-envelope-square"></i>MAIL TOOL</a>
                    </li>
                    <!--<li class="nav-item ">
                        <a class="nav-link <% if(site_path === '/user/copypage') { %> active <% } %>" href="/user/copypage"><i class="fas fa-user"></i>USER COPY TOOL</a>
                    </li>-->
                    <li class="nav-item ">
                        <a class="nav-link <% if(site_path === '/user') { %> active <% } %>" href="/user"><i class="fas fa-user"></i>USER</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link <% if(site_path === '/item') { %> active <% } %>" href="/gameinfo"><i class="fas fa-info-circle"></i>GAMEINFO</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link <% if(site_path === '/notice') { %> active <% } %>" href="/notice"><i class="fas fa-flag"></i>NOTICE</a>
                    </li>



                    <!-- <li class="nav-item ">
                        <a class="nav-link <% if(site_path === '/sql') { %> active <% } %>" href="/sql"><i class="fas fa-database"></i>SQL TOOL</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-f fa-folder"></i>Menu
                            Level</a>
                        <div id="submenu-10" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Level 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                        data-target="#submenu-11" aria-controls="submenu-11">Level 2</a>
                                    <div id="submenu-11" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Level 1</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Level 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Level 3</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->
<!-- ============================================================== -->